body {
    margin: 0px;
    font-family: Tahoma;
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.75);
}

header {
    position: fixed;
    top: 0px;
    min-width: 100%;
    margin: 0px;
    background-color: white;
}

@media screen and (max-width: 800px) {
    header #desktop {
        display: none;
    }

    header #mobile {
        display: block;
    }

    #main_row {
        margin-top: 75px;
    }

    #left_nav {
        display: none;
        flex-basis: 0px;
    }

    #main_row {
        flex-wrap: wrap;
    }

    aside {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 800px) {
    header #desktop {
        display: block;
    }

    header #mobile {
        display: none;
    }

    #main_row {
        margin-top: 225px;
    }

    #left_nav {
        display: flex;
    }

    aside {    
        flex-basis: 500px;
    }
}

header #desktop {
    max-width: 1152px;
    margin: 0 auto;
    background-color: white;
}

header #mobile {
    margin: 15px;
}

#hamburger-menu {
    display: inline;
}

#hamburger-menu:before {
    content: url("assets/ic_menu_black_24px.svg");
}

#hamburger-menu:focus #hamburger-menu-content {
    visibility: visible;
}

#hamburger-menu-content {
    background-color: white;
    padding: 20px;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    transition: visibility 0.25s;
    list-style: none;
    display: inline;
    border: 1px solid grey;
}

#hamburger-menu-content li {
    text-transform: uppercase;
}

header #mobile .logo {
    display: inline;
    font-size: 25pt;
    margin: 15px;
}

header #mobile select {
    font-size: 18pt;
    min-width: 100%;
    margin: 20px auto 20px auto;
}

#social {
    float: left;
    width: 250px;
    height: 100px;
}

#social p {
    margin: 10px;
    font-size: 8pt;
}

#account {
    float: right;
    width: 250px;
    height: 100px;
    margin: 0px;
    background-color: rgba(0, 0, 128, 0.0);
}

#account p {
    float: right;
    margin: 10px;
    font-size: 8pt;
}

#account input {
    float: right;
    margin: 10px;
    width: 200px;
    height: 25px;
}

.logo {
    font-family: 'Graduate', 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 60pt;
    overflow: hidden;
    margin: 0 auto;
    min-width: 250px;
    height: 100px;
    background-color: rgba(0, 0, 192, 0.0);
    text-align: center;
}

header:after {    
    clear: both;
}

/**/

nav {
    max-width: 1152px;
    margin: 25px auto 25px auto;
    padding: 5px 0px 5px 0px;
    background-color: rgba(128, 128, 192, 0.0);
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

nav #menu {
    display: flex;
    justify-content: center;
}

#menu .item {
    margin: 5px;
    text-transform: uppercase;
}

#menu .item a:link, a:visited {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

#menu .item a:hover {
    color: rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

nav #menu:after {
    clear: both;
}

nav #suggestions {
    display: flex;
    justify-content: center;
}

#suggestions .suggestion {
    float: left;
    margin: 5px;
}

#suggestions .suggestion:after {    
    clear: both;
}

#nav:after {
    clear: both;
}

/**/

#main_row {
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    display: flex;
}

#left_nav {
    flex-basis: 275px;
    height: 750px;
    background-color: rgba(64, 0, 128, 0.0);
    margin: 0px;
}

#left_nav a:link, a:visited, a:active { 
    text-decoration: none;
}

#left_nav a:hover { 
    color: rgba(128, 128, 128, 0.5);
}

aside {
    background-color: rgba(192, 0, 64, 0.0);
    margin: 0px;
}

#shop, #newsletter, #to_go {
    margin: 0px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 10pt;
}

#shop {
    height: 300px;
}


#newsletter {
    height: 200px;
}


#to_go {
    height: 500px;
}

main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    height: 1250px;
    background-color: rgba(32, 32, 64, 0.0);
    margin: 0px;
    overflow: hidden;
    justify-content: center;
}

main img {
    width: 800px;
    margin: auto auto;
}

#main_row:after {
    clear: both;
}

/**/

footer {
    margin: 0px;
    position: relative;
    bottom: 0px;
    min-width: 100%;
    height: 360px;
    background-color: rgba(0, 0, 0, 0.75);
}

footer #footer_box {
    margin: 10px auto;
    padding: 5px;
    max-width: 1152px;
    min-height: 250px;
    border: 1px solid rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
}

footer p {
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.75);
    margin: 5px;
    text-align: center;
}

footer p a:link {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

footer p a:hover {    
    color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
}