@import "partials/header.sass"
@import "partials/content.sass"
@import "partials/footer.sass"
@import "variables/colors.sass"
@import "variables/layout.sass"
@import "variables/typography.sass"
@import "functions.sass"

body, html
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: $regular-font;
  font-size: $s-font-size;
  color: $regular-font-color;