body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Tahoma;
    color: rgb(64, 64, 64);
}

#upper {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 200px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;

    background-color: cornflowerblue;    
}

#top-panel {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 1024px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#goop {
    flex: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    background-color: mediumpurple;
}

#menu-top {
    flex: 1;
}

/**/

#main {
    margin-top: 200px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;

}

#main-content {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 1024px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu-left {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100px;

    height: 200px;

    background-color: rgba(192, 64, 64, 0.25);
}

#content {
    flex-basis: 640px;
    flex-grow: 1;
    flex-shrink: 0;
    height: 1024px;

    background-color: rgba(128, 192, 256, 0.25);
}

#ads {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 250px;

    height: 400px;

    background-color: rgba(192, 64, 64, 0.25);
}

/**/

#footer {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    
    background-color: rgba(128, 192, 256, 0.25);
}

#footer-content {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 1024px;

    height: 150px;
    
    background-color: rgba(128, 192, 256, 0.25);
}